@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Roboto');
body{
    background-color: #5F1C1C ;
    width: 100%;
    font-family:'Roboto', sans-seri ;
        
    }

@media (min-width: 992px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media (max-width: 991px) and (min-width: 768px){
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .row .col-m-12 .part3 h3{
        text-align: center;
    }


}
@media (max-width: 767px){
    [class*="col-"]{
        width: 100%;
    }
}
* {
    box-sizing: border-box;
}

h2{
    color: yellow ;
    font-size: 30px;
    text-align: center;
    padding: 30px 0px 20px;
}

.row{
   content: none;
   clear: both;
   display: block;
}
[class*="col-"]{
    float: left;
    padding: 10px;
}
.row .column .part1{
    background:  #f11313 ;
    border: 1px solid black;
    padding: 0px 0px 10px;
    box-sizing: border-box;
}
.row .part1 h3{
    font-family:'Roboto', sans-seri ;
    text-align: right;
    color: chartreuse;
    padding: 0px 5px 5px;}

.row .part1 p{
    font-family:'Roboto', sans-seri ;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
}
.row .column .part2{
    background: crimson;
    border: 1px solid black;
    padding: 0px 0px 10px;
    box-sizing: border-box;
}    
.row .part2 h3{
    font-family:'Roboto', sans-seri ;
    text-align: right;
    color: yellowgreen;
    padding: 0px 5px 5px;
}
.row .part2 p{
    font-family:'Roboto', sans-seri ;
    font-size: 21px;
    text-align: center;
    justify-content: space-around;  
}

.row .column .part3{
    background: crimson;
    border: 1px solid black;
    padding: 0px 0px 10px;
    
}    
.row .part3 h3{
    font-family:'Roboto', sans-seri ;
    text-align: right;
    color: greenyellow;
    padding: 0px 5px 5px;
}
.row .part3 p{
    font-family:'Roboto', sans-seri ;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;   
}
